/* td.description {
    min-width: 250px;
    max-width: 400px;
    text-align: left;
    padding: 5px;
    margin: 0px;
    background-color: #FFFFCC;
} */

/* p.one {
    overflow: hidden;
    height: 100px;
    width: 200px;
}
p.two {
    overflow: scroll;
    height: 100px;
    width: 200px;
} */


/* p.one {
    border-width: 2px;
    border-style: solid;
    border-color: #0088dd;
    border: 3px solid #0088dd;
} */

/* p.two {
    border-width: thick;
    border-style: solid;
    border-width: 1px 2px 3px 4px;
    border-color: #ee1c11;
} */

/* p.three {
    border-width: 1px 4px 12px 4px;
    border-style: solid;
    border-color: #0088dd;
} */

/* .example {
    padding-top: 20px;
    padding-left: 10px;
    border: 1px solid black;
} */

/* p {
    width: 200px;
    border: 2px solid #0088dd;
    padding: 10px;
}
p.example {
    margin: 20px;
} */


/* li {
    display: inline;
    margin-right: 25px;
}

nav{
    padding: 2px 2px;
    text-align: center;
    background-color: #eeeeee;
    border-bottom: 1px solid #777777;
} */
/* li.coming-soon {
    display: none;
} */

 /* ol{ 
    list-style: upper-roman;   
 list-style:circle;
     list-style:square;
    list-style:disc; 
} */

/* td{
    border: 1px solid black;
} */

/* table{
    border-spacing: 20px;
    border-collapse: collapse;
} */


/* h1{ */
    /* position: fixed; */
    /* float: left;
    height: 100px;
    width: 250px; */
    /* top: 0px;
    left: 0px; */
    /* background-color: #eeeeee; */
    /* z-index: 10; */
    /* opacity: 0.5; */
    /* width: 250px;
} */

/* p{
    width: 450px;
} */


img.align-center {
    display: block;
    margin: 0px auto;
    /* border: 1px solid black; */
}
img.medium {
    width: 250px;
    height: 250px;
}